{% extends "base.html" %}
{% load static %}

{% block main %}
    <h2>Nowa rezerwacja</h2>
    <div class="errors">
        {{ form2.errors }}
    </div>
    <div class="errors">
        {{ form.errors }}
    </div>
    <div class="add-wrapper">
        <div class="divider"></div>
        <div class="add-box">
        <h4>Wybrałeś</h4>
            <dl>
                <dt>Data</dt>
                <dd>{{ timestamp }}
                <dt>Usługa</dt>
                <dd>{{ service }}</dd>
                <dt>Pracownik</dt>
                <dd>{{ employee }}</dd>
            </dl>   
        </div>
        <div class="divider"></div>
        <div class="add-box">
            <h4>Wypełnij formularz rezerwacji</h4>
            <form method="POST">
                {% csrf_token %}
                <table class="reservation-form">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Potwierdź rezerwację" class="book-btn">
            </form>
        </div>
    </div>
{% endblock %}
