{% extends "base.html" %}
{% load static %}

{% block main %}
    <h2>Umów wizytę</h2>
    
    <div class="content-wrapper">
        <div class="divider"></div>
        <div class="content-box">
            
            <h4>Wybierz dzień</h4>
            <ul class="week-box">
            {% for day in week %}
                <li class="{% if selected_date == day %}selectedDate{% endif %}">
                    <a href="{% url 'bookings:index' day.year day.month day.day %}">
                        {% if day == today %}Dzisiaj: {% endif %} {{ day|date:"D, j M" }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="divider"></div>
        <div class="content-box">
        
            <form method="GET" action="{% url 'bookings:add' %}">
                <div class="content-table">
                    <div class="box">
                        <h4>Wybierz usługę</h4> 
                        <select name="service">
                            {% for service in services %}
                                <option value="{{ service.pk }}">{{ service }}</option>
                            {% endfor %}
                        </select>      
                    <div>
                    <div class="divider"></div>
                    <div class="box">
                        <h4>Wybierz godzinę</h4>
                        <ul class="day-box">
                        {% for date, is_reserved in dates.items %}
                            <li class="{% if is_reserved %}reserved{% else %}free{% endif %}">
                            {% if not is_reserved %}
                                <label>
                                    <input type="radio" name="timestamp" value="{{ date|date:"c" }}" required>&nbsp;{{ date|date:"G:i" }}
                                </label>
                            {% else %}
                                {% comment %} {{ date|date:"G:i" }} {% endcomment %}
                                termin niedostępny
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="box">
                        <h4>Wybierz pracownika</h4> 
                        <select name="employee">
                            {% for employee in employees %}
                                    <option value="{{ employee.pk }}">{{ employee }}</option>
                            {% endfor %}
                        </select>   
                    <div>
                </div>
             <input type="submit" value="Zarezerwuj" class="book-btn">   
            </form>
        </div> 
    </div>  
{% endblock %}
     