body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

a {
    color: #232323;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 105px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
    padding: 10px 0;
}

h5 {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    width: 50%;
}

.main-wrapper {
    position: relative;
}

.container {
    width: 45%;
}

@media (max-width: 1450px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 570px) {
    .container {
        width: 100%;
    }
}

code {
    font-family: 'Arsenal', sans-serif;
    text-transform: none;
}

main {
    margin: 70px 0 0 0;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
}

.book-btn, .book-btn-main {
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.3;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #000000;
    border: 1px solid #000000;
}

.book-btn:hover, .book-btn-main:hover {
    border: 1px solid #232323;
    background-color: #232323;
    color: #e9e9e9;
}

.book-btn-main {
    width: 80%;
    padding: 0;
}

.book-btn-main a {
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 20px 0;
}

select {
    display: inline-block;
    width: 60%;
    padding: 10px;
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 1.3;
    color: #ffffff;
    outline: none;
    border: 1px solid #232323;
    appearance: none;
    background-color: #232323;
    background-image: url(../bookings/img/arrow-down-sign-to-navigate.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.main-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: url(../bookings/img/black_white_bg3.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 99; 
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background-color: #ffffff;
}

.nav-wrapper .navigation-logo {
    padding: 0;
    margin: 0;
}

.nav-wrapper .navigation-logo img {
    display: block;
    width: 100px;
}


.navigation {
    background-color: #ffffff;
    margin: 0;
    padding: 30px 0;
    text-align: right;
}

.navigation li {
    display: inline-block;   
    margin: 0 15px 0 0;
}

.navigation li a {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    color: #9e9e9e;
    font-family: 'Barlow', sans-serif;
    padding: 5px 10px;
    transition: .3s;
}

.navigation li a:hover {
    color: #232323;
}

.logo-main {
    width: 75%;
    margin: 50px auto;
}

.logo-main img {
    display: block;
    width: 100%;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    padding: 50px 20px 10px 20px;
}

.main-services {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.main-services .simple-service {
    width: calc(100%/3);
    padding: 0 30px;
    border-right: 1px solid #e9e9e9;
    margin: 0 0 30px 0;
}

.main-services .simple-service:last-of-type {
    border: none;
}

.main-services .simple-service img {
    display: block;
    width: 100%;
    padding: 0 30px; 
}

.main-services .simple-service h6 {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.main-services .simple-service p {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.content-wrapper .content-box {
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.content-wrapper .content-box .week-box {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-wrapper .content-box .week-box li {
    margin: 10px 0;
    border: 1px solid #e9e9e9;
}

.content-wrapper .content-box .week-box li:first-of-type {
    display: block;
    width: 100%;
    text-align: center;
}

.content-wrapper .content-box .week-box li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.content-wrapper .content-box .week-box li a:hover {
    background-color: #232323;
    color: #ffffff;
}

.content-wrapper .content-box .week-box .selectedDate a {
    font-weight: 500;
    background-color: #232323;
    color: #e9e9e9;
}

.content-wrapper .content-box .content-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content-wrapper .content-box .content-table .box {
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content-wrapper .content-box .content-table .box .day-box {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-wrapper .content-box .content-table .box .day-box li {
    width: 45%;
    margin: 0 0 10px 0;
    padding: 0;
    color: #232323;
    border: 1px solid #e9e9e9;
    text-align: center;
    transition: .2s;
}

.content-wrapper .content-box .content-table .box .day-box li:hover {
    background-color: #232323;
    color: #e9e9e9;
}

.content-wrapper .content-box .content-table .box .day-box li label {
    display: block;
    width: 100%;
    padding: 10px;
}

.content-wrapper .content-box .content-table .box .day-box li.reserved {
    color: #9e9e9e;
    border: 1px solid #e9e9e9;
    padding: 10px;
}

.content-wrapper .content-box .content-table .box .day-box li.reserved:hover {
    background: none;
}

.add-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.add-wrapper .add-box {
    width: 100%;
    padding: 5px 15px;
}

.add-wrapper .add-box dl {
    margin: 0 0 0 50px;
}

.add-wrapper .add-box dt {
    font-family: 'Arsenal', sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.add-wrapper .add-box dd {
    margin: 0 0 30px 30px;
}

.add-wrapper .add-box table {
    width: 100%;
    text-align: left;
    font-weight: 500;
}

.errors {
    font-size: 30px;
    font-family: 'Arsenal', sans-serif;
    padding: 0;
    color: #9e9e9e;
    font-weight: 700;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    margin: 15px 0;
}

.confirm-wrapper {
    width: 100%;
    padding: 30px;
}

.confirmation-code {
    padding: 20px 0;
}

.reservation-info, .reservation-info th, .reservation-info td {
    border: 1px solid #e9e9e9;
    border-collapse: collapse; 
}

.reservation-info {
    width: 100%;
    margin: 20px 0 100px 0;
    text-align: center;
}

.add-wrapper .add-box .reservation-form {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

th, td {
    padding: 10px;
}
